{% extends 'base.html' %}
{% block title %}Blog详情{% endblock %}
{% block content %}

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <div class="uk-width-medium-4-5">
                <article class="uk-article">
                    <h2>{{ blog.name }}</h2>
                    <p class="uk-article-meta">发表于{{ blog.c_time }}</p>
                    <p>{{ blog.content }}</p>
                </article>

                <hr class="uk-article-divider">
                <nav aria-label="Page navigation">
                    <ul class="pager">
                        {% if not is_oldest %}
                            <li class="previous"><a href="{% url 'blog:detail' older_blog_id %}"><span
                                    class="glyphicon glyphicon-chevron-left"></span> {{ older_blog_name }}</a></li>
                        {% endif %}
                        {% if not is_newest %}
                            <li class="next"><a href="{% url 'blog:detail' newer_blog_id %}">{{ newer_blog_name }} <span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
                {% if request.session.is_login %}
                    <h3>发表评论</h3>

                    {#                    <article class="uk-comment">#}
                    {#                        <header class="uk-comment-header">#}
                    {#                            <img class="uk-comment-avatar uk-border-circle" width="50" height="50"#}
                    {#                                 src="{{ __user__.image }}">#}
                    {#                            <h4 class="uk-comment-title">{{ __user__.name }}</h4>#}
                    {#                        </header>#}
                    {#                        <div class="uk-comment-body">#}
                    <form class="form-horizontal" action="{% url 'blog:comment' %}" method="post">
                        {% if message %}
                            <div class="alert alert-warning">{{ message }}</div>
                        {% endif %}
                        {% csrf_token %}
                        <div class="form-group">
                            {#                                    <textarea rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>#}
                            {#                                    {{ comment_form.text }}#}
                            <textarea name="text" required id="text" rows="6" placeholder="说点什么吧"
                                      class="form-control"></textarea>
                        </div>
                        <input type="hidden" name="blog_id" id="blog_id" class="blog_id" value="{{ blog_id }}">
                        <input type="hidden" name="user_id" id="user_id" class="user_id"
                               value="{{ request.session.user_id }}">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"><i
                                    class="uk-icon-comment"></i> 发表评论
                            </button>
                        </div>
                    </form>
                    {#                        </div>#}
                    {#                    </article>#}
                    <hr class="uk-article-divider">
                {% else %}
                    <h3><a href="{% url 'login:login' %}">登陆后发表评论</a></h3>
                {% endif %}

                <h3>最新评论</h3>

                <ul class="uk-comment-list">
                    {% for comment in comments %}

                        {#                            <li>#}
                        {#                                <article class="uk-comment">#}
                        {#                                    <header class="uk-comment-header">#}
                        {#                                    <img class="uk-comment-avatar uk-border-circle" width="50" height="50"#}
                        {#                                         src="{{ comment.user_image }}">#}
                        {#                                        <h4 class="uk-comment-title">{{ comment.user.name }}#}
                        {#                                            {% if comment.user.name == "testUser" %}#}
                        {#                                                <span class="label label-info">博主</span>{% endif %}</h4>#}
                        {#                                        <p class="uk-comment-meta">{{ comment.c_time|date }}</p>#}
                        {#                                    </header>#}
                        {#                                    <div class="uk-comment-body">#}
                        {#                                        {{ comment.text }}#}
                        {#                                    </div>#}
                        {#                                </article>#}
                        {#                            </li>#}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span
                                        class="glyphicon glyphicon-user"></span> {{ comment.user.name }}
                                    {% if comment.user.name == "testUser" %}
                                        <span class="label label-info">博主</span>{% endif %}
                                    <small> {{ forloop.revcounter }} 楼</small>
                                </h3>
                                <h3 class="panel-title">
                                    <small><span class="glyphicon glyphicon-time"></span> {{ comment.c_time }}
                                    </small>
                                </h3>
                            </div>
                            <div class="panel-body">
                                {{ comment.text }}
                            </div>
                        </div>
                    {% empty %}
                        <p>还没有人评论...</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}